Employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6ece1c44-744b-42c5-aea1-c40f32ae264a" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="EmployeeFlow" doc:id="dbc04303-23c8-4643-8b16-67a0e255b8e5" >
		<http:listener doc:name="Listener" doc:id="f0a06e20-daf8-4882-ade1-5647c75e7a99" config-ref="HTTP_Listener_config" path="/employee"/>
		<ee:transform doc:name="Transform Message" doc:id="a49748e0-11a0-4ef3-8bfa-dbe44a0991fb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---

lookup("SecondFlow", payload.employee.first_name ++ " "
++ payload.employee.last_name ++ " was created successfully. (Employee ID : "
	++ payload.employee.id ++ ")")

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="SecondFlow" doc:id="8d77e25a-5439-4258-94ab-b49fa03f7aaf" >
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="fabe38ef-b7c2-4096-b92b-08027b0d14b9" />

	</flow>
</mule>
